body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/*=======================COMMON STYLE===================================*/
.common-section-class{
    height: 500px;
    padding-bottom: 140px;
}
h1 {
    font-size:50px;
}
h2{
    font-size: 30px;
}
h4{
    font-size: 20px;
}
.divided-div{
    width: 40%;
    float: left;
    padding-left: 3%;
    margin-left: 4%;
}
.divided-div img{
    width: 100%;
    margin-top: 0;
}

.divided-div a{
    background-image: linear-gradient(to left, tomato , lightsalmon);
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.divided-div p{
    text-align: justify;
    color: #7e7b7b;
}
.orange-color{
    color: orange;
}

/*=======================ALL SECTION STYLE===============================*/
#welcome-section {
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
}
#dream-section{
    background-image: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right; 
}
.title-font{
    font-size: 40px;
}
.experience-section{
    height: 500px;
}
.experience-area{
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
}
.experience-area div{
    height: 100%;
    box-shadow: 5px 7px 40px gray;
}
.experience-area h3{
    font-size: 1.17em;
}
#full-stack, #baby-web{
    padding: 10px 30px;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, tomato, lightsalmon);
    border-image-slice: 1;
}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
/*=======================FOOTER STYLE=================================*/

footer p {
    text-align: center;
    color:#7e7b7b;
}